@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btnreadmoremore {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #911111 0%, #000000 100%);
    padding: 10px 30px;
    border: solid #d9dfe6 2px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btnreadmoremore:hover {
    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background: linear-gradient(90deg, #911111 0%, #000000 100%);
    color: #ffffff;
    border: solid 2px #0066cc;
}