body {
    background: linear-gradient(black, #B84152);
    margin: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;

}


.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.certificates {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.certificate {
    width: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.certificate:hover {
    transform: translateY(-5px);
}

.certificate img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.description {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.description h2 {
    margin-top: 0;
}

.description p {
    margin-bottom: 0;
}